<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
    <div class="post-box">
        <%= simple_form_for @post do |f| %>
        <div class="row">
          <%= f.input :title %>
        </div>
        <div class="row">
          <%= f.input :content %>
        </div>

         <div class="field">
          <%= f.label :photos, @direct_mode ? "Add new photos (Client-side)" : "Add new photos (Server-side)" %>
          <br>
          <% if @direct_mode %>
           <%= f.cl_image_upload :photos%>
            <% else %>
            <%= f.file_field :photos %>
          <% end %>
         </div>
        <br>
       <div>
        <%= f.submit "Create post" , class: "btn-primary", id: "form-button-home" %>
      </div>
      <br>
      <div>
        <%= link_to 'Back to Posts', posts_path, class: "btn-primary" %>
      </div>
      <% end %>
    </div>
      </div>
  </div>
</div>
