<h1 class="main-title">My blog posts</h1>
<br>
<br>
<div class="card">
  <% @posts.each do |post| %>
    <div class="post-title" >
      <h4> <%= post.title %> </h4>
    </div>
  <div class="img">
    <% if post.photos? %>
    <% post.photos.each do |photos| %>

      <%= cl_image_tag post.photos, width: 200, height: 150, crop: :scale %>
      <% end %>
    </div>
    <% end %>
    <div class="post-content">
      <%= post.content %>
    </div>
    <% if user_signed_in? %>
    <div class="link">
     <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-primary" %>
     </div>
     <br>
     <div class="link">
     <%= link_to 'Edit (Client-side)', edit_post_path(post, direct_mode: true), class: "btn-primary" %>
     </div>
    <% end %>
  <% end %>
  </div>



